@use '../functions/variables' as vars;
@use '../core/responsive' as mq;

@view-transition {
	navigation: auto;
}

* {
    box-sizing: border-box;
    cursor: none;
}

body {
    font-family: vars.$font__normal;
    font-size: 1rem;
    font-weight: vars.$font__wegight--normal;
    margin: 0;
    min-height: 100vh;
    background-color: vars.$colour__grey;
    color: vars.$colour__grey--palest;

    @include mq.tablet {
        font-size: 1.25rem;
    }
}